<footer>
<hr>
  {%- block next_prev %}
  {% if page.next_page or page.previous_page %}
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      {% if page.next_page %}
        <a href="{{ page.next_page.url }}" class="btn btn-xs btn-primary float-right" title="{{ page.next_page.title }}">Next &raquo;<span class="icon icon-circle-arrow-right"></span></a>
      {% endif %}
      {% if page.previous_page %}
        <a href="{{ page.previous_page.url }}" class="btn btn-xs btn-primary" title="{{ page.previous_page.title }}"><span class="icon icon-circle-arrow-left"></span> &laquo; Prev</a>
      {% endif %}
    </div>
  {% endif %}
  {%- endblock %}


  {% if config.copyright %}
  <hr/>

  <div role="contentinfo">
    <!-- Copyright etc -->
      <p>{{ config.copyright }}</p>
  </div>
  {% endif %}

  {%- block repo %}
    {%- if page and page.edit_url %}
      <div id="edit-github">
        <a href="{{ page.edit_url }}" class="nav-link">
          <i class="icon ion-social-github"></i> Edit Documentation on GitHub
        </a>
      </div>
    {%- elif config.repo_url %}
      <div id="edit-github">
        <a href="{{ config.repo_url }}" class="nav-link">
          <i class="icon ion-social-github"></i> Edit Documentation on GitHub
        </a>
      </div>
    {%- endif %}
  {%- endblock %}

</footer>
