{% if nav_item.children %}

<li class="subnav_drop {% if nav_item.active%}current{%endif%}">
        <div style="display: flex; justify-content: space-between">
                <span id="nav-item-title-{{ nav_item.title }}">{{ nav_item.title }}</span>
                <div>
                        {% if nav_item.title == 'OpenVidu CE' %}
                        <script>document.getElementById('nav-item-title-OpenVidu CE').innerHTML = "OpenVidu <div id='openvidu-pro-tag' style='display: inline-block; pointer-events: none; margin-left: 5px; background-color: #06d362; color: white; font-weight: bold; padding: 0px 5px; border-radius: 3px; font-size: 13px; line-height:21px; font-family: Montserrat, sans-serif;'>CE</div>"</script>
                        {% endif %}
                        {% if nav_item.title == 'OpenVidu Pro' %}
                        <script>document.getElementById('nav-item-title-OpenVidu Pro').innerHTML = "OpenVidu <div id='openvidu-pro-tag' style='display: inline-block; pointer-events: none; margin-left: 5px; background-color: #0088aa; color: white; font-weight: bold; padding: 0px 5px; border-radius: 3px; font-size: 13px; line-height:21px; font-family: Montserrat, sans-serif;'>PRO</div>"</script>
                        {% endif %}
                        {% if nav_item.title == 'OpenVidu Enterprise' %}
                        <script>var el = document.getElementById('nav-item-title-OpenVidu Enterprise').innerHTML = "OpenVidu <div id='openvidu-pro-tag' style='display: inline-block; pointer-events: none; margin-left: 5px; background-color: #9c27b0; color: white; font-weight: bold; padding: 0px 5px; border-radius: 3px; font-size: 13px; line-height:21px; font-family: Montserrat, sans-serif;'>ENTERPRISE</div>" +
                        "<div id='openvidu-pro-tag' style='display: inline-block;pointer-events: none;margin-left: 4px;background-color: #777;color: white;font-weight: bold;padding: 0px 4px;border-radius: 3px;font-size: 10.5px;line-height: 19px;font-family: Montserrat, sans-serif;'>beta</div>";</script>
                        {% endif %}
                        {% if nav_item.title == 'OpenVidu Pro / Enterprise' %}
                        <script>var el = document.getElementById('nav-item-title-OpenVidu Pro / Enterprise').innerHTML = "OpenVidu <div id='openvidu-pro-tag' style='display: inline-block; pointer-events: none; margin-left: 5px; background-color: #0088aa; color: white; font-weight: bold; padding: 0px 5px; border-radius: 3px; font-size: 13px; line-height:21px; font-family: Montserrat, sans-serif;'>PRO</div> <div id='openvidu-pro-tag' style='display: inline-block; pointer-events: none; background-color: #9c27b0; color: white; font-weight: bold; padding: 0px 5px; border-radius: 3px; font-size: 13px; line-height:21px; font-family: Montserrat, sans-serif;'>ENTERPRISE</div>";</script>
                        {% endif %}
                        {% if nav_item.active%}
                        <span class="arrow-up">▴</span>
                        <span class="arrow-down" style="display: none">▾</span>
                        {% else %}
                        <span class="arrow-up" style="display: none">▴</span>
                        <span class="arrow-down">▾</span>
                        {% endif %}
                </div>
        </div>
        <ul class="subnav" hidden>
                {% for nav_item in nav_item.children %} {% include 'toc.html' %} {% endfor %}
</li>
</ul>

{% else %}

<li class="toctree-l1 {% if nav_item.active%}current{%endif%}">
        <a class="{% if nav_item.active%}current{%endif%}" href="{{ nav_item.url }}">{{ nav_item.title }}</a>
</li>

{% endif %}