{% if nav_item.children %}

<li {% if nav_item.title=='OpenVidu Pro' %} style="width: 100%; display: inline-block" {% endif %} class="subnav_drop">
        <div><span>{{ nav_item.title }}</span>{% if nav_item.title == 'OpenVidu Pro' %}<a style="all: unset; display: inline"
                        href="/docs/openvidu-pro/">
                        <div id="openvidu-pro-tag" style="float: right; background-color: rgb(0, 136, 170); color: white; font-weight: bold; padding: 0px 5px; border-radius: 3px; font-size: 13px; line-height:21px; font-family: Montserrat, sans-serif;">PRO</div>
                </a>{% endif %}</div>
        <ul class="subnav" hidden>
                {% for nav_item in nav_item.children %} {% include 'toc.html' %} {% endfor %}
</li>
</ul>

{% else %}

<li class="toctree-l1 {% if nav_item.active%}current{%endif%}">
        <a class="{% if nav_item.active%}current{%endif%}" href="{{ nav_item.url }}">{{ nav_item.title }}</a> {% if
        nav_item
        == page %} {% endif %}
</li>

{% endif %}